<header>
    <div class="wrapper">
    
    <div id="header-left">

        <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        {{> "social"}}
    </div>
    <div id="header-right">
        {{> menu}}
    </div>
    </div>
</header>
